<ul class="c__download-list">
    {{ $lang := .Lang }}
    {{ range $.Site.Data.downloadsfinanzierung }}
    <li>
        {{ $content := (cond (eq $lang "de") .de .en) }}
        <h3 class="h4">{{ $content.title }}</h3>
        <p>{{ $content.text | markdownify }}</p>
        {{ with .path}}
        <p><a href="{{.}}">{{ readFile "static/files/icons/arrow_right.svg" | safeHTML }} PDF</a></p>
        {{ end }}
        {{ $prefix := .prefix }}
        {{ with .years }}
        <p>
            {{ range $i, $v := . }}
            {{ if ne $i 0 }},{{ end }}
            <a href="{{ $prefix }}-{{ $v }}.pdf">{{ $v }}</a>
            {{ end }}
        </p>
        {{ end }}
    </li>
    {{ end }}
</ul>
