{{ define "title"}}
<title>{{ .Title }} - {{ strings.FirstUpper .Section }} - {{ .Site.Title}}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Title }} - {{ strings.FirstUpper .Section }} - {{ .Site.Title}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ end }}

{{ define "main" }}
<main>
  <section class="container l__projects">
    <div class="row">
      <h1 class="col col-12 col-sm-11">{{ i18n "projects" }}: {{.Title}}</h1>
      <div class="col col-12 col-lg-9 col-xl-8">
        {{- partial "projects/filter" . -}}
      </div>
    </div>

    <ul class="row l__projects__list">
      {{ $title := .Title}}
      {{ $page := . }}

      {{ if eq .Lang "de" }}

        {{ range $key, $value := where $.Site.AllPages "Section" "projekte"}}
          {{ range .Params.kategorien }}
            {{ if eq . $title}}
              {{ if eq $value.Lang "de"}}
                {{- partial "projects/tile" $value -}}
              {{ end }}
            {{end}}
          {{ end }}
        {{ end }}

      {{else }}

        {{ range $key, $value := where $.Site.AllPages "Section" "projekte"}}
          {{ range .Params.categories }}
            {{ if eq . $title}}
              {{ if eq $value.Lang "en"}}
                {{- partial "projects/tile" $value -}}
              {{ end }}
            {{end}}
          {{ end }}
        {{ end }}

      {{end }}
    </ul>
  </section>

  {{- partial "projects/other_and_archive" . -}}
</main>
{{ end }}
