{{ $lang := .Lang }}
<li class="col col-12 col-sm-6 col-md-4 l__projects__item {{range .Params.kategorien}}{{. | anchorize}}{{end}} {{range .Params.categories}}{{. | anchorize}}{{end}} {{ with .Params.tile }}tile{{ end }}">
  <a href="{{.Permalink}}" class="c__tile {{with .Params.tile}}c__tile--{{.}}{{end}}" style="background-image: url(/files/{{.Params.img}})">
    <h2 class="h3 c__tile__title">{{.Title}}</h2>
    <div class="c__tile__overlay">
      {{ if eq $lang "en" }}
      {{ with .Params.en.subtitle }}
        <p class="h4">{{ . }}</p>
      {{ end }}
      {{ end }}

      {{ if eq $lang "de" }}
      {{ with .Params.de.subtitle  }}
        <p class="h4">{{ . }}</p>
      {{ end }}
      {{ end }}
    </div>
  </a>
</li>
