.c__download-list
  display: grid
  grid-template-rows: 1fr 1fr
  gap: $space

  @media (min-width: map-get($container-max-widths, lg))
    grid-template-columns: 1fr 1fr


  li
    position: relative
    padding: 0 0 0 70px
    &:before
      content: ""
      position: absolute
      left: 1em
      display: block
      width: 40px
      height: 50px
      background-image: url(/files/icons/files.svg)
