.c__nav-list
  list-style: none
  display: flex
  justify-content: space-evenly
  line-height: 5

  font-weight: 600

  a
    padding: .2em 0
    color: $black
    text-decoration: none
    &:hover,
    &:active
      color: $anchor
      border-bottom: 2px solid $anchor

.donate-btn
  position: absolute
  top: 4em
  right: 2em
  width: 6em
  height: 6em
  border-radius: 50%
  background-color: $bright-aqua
  padding: 0 0.4em
  text-align: center
  transition: transform 200ms ease
  transform: rotate3d(0, 0, 1, 20deg)
  a
    color: $black
    text-decoration: none
    text-transform: uppercase
    font-weight: 600
    line-height: 5.5
    font-size: 1.1rem
