.c__nav-list
  display: flex
  flex-direction: column
  line-height: 2
  font-weight: 500
  list-style: none
  @include media-breakpoint-up(md)
    flex-direction: row
    justify-content: space-between
  a
    padding: .2em 0
    color: $black
    text-decoration: none
    &:hover,
    &:active
      svg
        fill: $anchor

  svg
    width: 1.3rem
    height: 1.3rem

.c__nav-list--top
  align-items: end
  @include media-breakpoint-up(md)
    flex-direction: row
    line-height: 5

.c__nav-list--filter
  font-weight: 400
  font-size: 20px
  margin: $space 0 $space-double
  a
    padding-bottom: 0
    border-bottom: 2px solid transparent

  .active
    color: $anchor
    border-color: $anchor

.c__nav-list--report
  a
    margin: 0 1.5em 1.5em 0
    line-height: 1
    border-bottom: 1px solid transparent
    &:hover,
    &:active
      color: $anchor
    &.active
      color: $anchor
      border-color: $anchor
