.c__post--item
  border-bottom: 1px solid $greyish
  a
    padding: $space * 0.76 0
    text-decoration: none
    color: inherit
    transition: background-color 200ms ease
    &:hover,
    &:active
      background-color: $greyish

  .c__post__title
    order: 2

  .c__post__date
    color: $secondary
    font-weight: 600
    order: 1
    @include media-breakpoint-up(sm)
      text-align: right
      order: 3

.c__post--featured
  max-width: 1140px
  margin-bottom: $space-double
  .row
    padding: $grid-gutter-width / 2 0
    @include media-breakpoint-up(sm)
      padding: $space 0 $space-m
  a
    width: 100%
    color: $black
    text-decoration: none
    font-weight: 600
  .h3 + .h3
    margin-top: .5em

  .c__post__image
    margin-top: -1.7em
    @include media-breakpoint-down(md)
      margin-top: $space-m
    img
      width: 100%

.c__post__bg--yellow
  background-color: #ffec00
.c__post__bg--blue
  background-color: $bright-aqua

.c__post__related
  margin-bottom: $space * 3.5
  .text
    margin-bottom: 1rem
  a
    font-size: 2rem
    text-decoration: none
    color: $anchor
    font-weight: 600
    &:hover,
    &:active
      text-decoration: underline
    @include media-breakpoint-up(md)
      font-size: 3.1rem

.c__post__share
  margin-bottom: $space * 3

.c__post__meta
  max-width: 1140px
  margin-top: 1.2em
  font-size: 13px
  @include media-breakpoint-up(sm)
    @include make-col-offset(1)
  @include media-breakpoint-up(md)
    @include make-col-offset(0)
    order: 2
  @include media-breakpoint-up(lg)
    @include make-col-offset(1)
  p:first-of-type
    padding-top: .7em
  .c__post__date
    margin: 1em 0
  &:before
    content: ""
    display: block
    width: 1em
    height: 2px
    background-color: $black

// Styles specific for blog posts
.c__post--single
  .c__post__title
    margin-bottom: $space-double
  .c__post__image
    padding: $space * 2.6 $space
  .c__post__visual
    margin-top: $space * 3.5
    margin-bottom: $space

.c__post__main,
.c__post__visual
  h1
    @include media-breakpoint-down(sm)
      font-size: 2.5rem
  h2, h3, h4
    line-height: 1.2
    margin: 1em 0 0.8em
  p
    margin: 1em 0 1.3em
    line-height: 1.55

  ul,
  ol
    padding-left: 1em
    margin: 1em 0 1.3em
  ul
    list-style: disc
  ol
    list-style: roman
  li
    margin-bottom: 1em
    line-height: 1.55
  iframe,
  img
    width: 100%
    @include media-breakpoint-up(md)
      display: block
      margin: 0 -3em
      width: 120%
