.c__post--item
  border-bottom: 1px solid $greyish
  a
    padding: $space * 0.76 0
    text-decoration: none
    color: inherit
    transition: background-color 200ms ease
    &:hover,
    &:active
      background-color: $greyish

  .c__post__title
    order: 2

  .c__post__date
    color: $secondary
    font-weight: 600
    order: 1
    @include media-breakpoint-up(sm)
      text-align: right
      order: 3

.c__post--featured
  max-width: 1140px
  margin-bottom: $space-double
  .row
    padding: $grid-gutter-width / 2 0
    @include media-breakpoint-up(sm)
      padding: $space 0 $space-m
  a
    color: $black
    text-decoration: none
    font-weight: 600
  .h3 + .h3
    margin-top: .5em

  .c__post__image
    margin-top: -1.7em
    @include media-breakpoint-down(md)
      margin-top: $space-m
    img
      width: 100%

.c__post__bg--yellow
  background-color: #ffec00

.c__post__related
  margin-bottom: $space * 3.5
  .text
    margin-bottom: 1rem
  a
    font-size: 2rem
    text-decoration: none
    color: $anchor
    font-weight: 600
    &:hover,
    &:active
      text-decoration: underline
    @include media-breakpoint-up(md)
      font-size: 3.1rem

.c__post__share
  margin-bottom: $space * 3


.c__post--single
  .c__post__title
    margin-bottom: $space-double

  h1
    @include media-breakpoint-down(md)
      font-size: 2.2rem


  h2, h3, h4
    line-height: 1.2
    margin: 1em 0 0.8em

  p
    margin: 1em 0 1.3em
    line-height: 1.55
  strong, b
    font-weight: 600
  em, i
    font-style: italic
  ul,
  ol
    padding-left: 1em
    margin: 1em 0 1.3em
  ul
    list-style: disc
  ol
    list-style: roman
  li
    margin-bottom: 1em
    line-height: 1.55

  a
    text-decoration: none
    &:hover,
    &:active
      text-decoration: underline


  iframe,
  img
    width: 100%
    @include media-breakpoint-up(md)
      display: block
      margin: 0 -3em
      width: 120%
