*,
*:before,
*:after
  box-sizing: border-box

html,
body
  font-family: 'Apercu', sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 1.38
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  font-weight: 500

h1, .h1
  font-size: 2rem
  line-height: 1

@include media-breakpoint-up(xs)
  h1, .h1
    font-size: 2.5rem
    line-height: 1.1

@include media-breakpoint-up(lg)
  h1, .h1
    font-size: 4rem
    line-height: 1.1

h2,
.h2
  font-size: 3.1rem

@include media-breakpoint-down(xs)
  h2, .h2
    font-size: 2rem
    line-height: 1.1

h3,
.h3
  font-size: 1.65rem

h4,
.h4
  font-size: 1.25rem

input,
textarea
  color: inherit

strong, b
  font-weight: 500

em, i
  font-style: italic

a
  color: $anchor
  text-decoration: none
  &:hover,
  &:active
    text-decoration: underline

.bold
  font-weight: 500

figure.license
  position: relative
  figcaption
    position: absolute
    bottom: 11px
    left: 8px
    color: white
    background-color: rgba($black, 0.7)
    padding: 0 .3em
    font-size: 10px
    //max-width: 200px
    opacity: 0
    transition: opacity 100ms ease
  a
    text-decoration: underline
    color: white
  &:hover,
  &:active
    figcaption
      opacity: 1
