*,
*:before,
*:after
  box-sizing: border-box

html,
body
  font-family: 'Apercu', sans-serif
  font-weight: 400
  font-size: 100%
  line-height: 1.38
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  font-weight: 500

h1,
.h1
  font-size: 3.75rem
  line-height: 1.2;

h2,
.h2
  font-size: 3.1rem

h3,
.h3
  font-size: 1.65rem

h4,
.h4
  font-size: 1.25rem

input,
textarea
  color: inherit

strong, b
  font-weight: 600

em, i
  font-style: italic

a
  color: $anchor
  text-decoration: none
  &:hover,
  &:active
    text-decoration: underline
