{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.img_header }}
<meta property="og:image" content="{{ . }}" />{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}

{{ define "main" }}
<div class="container align-items-end">
  <div class="row align-items-end">
    <h1 class="col col-12">{{.Params.blurb}}</h1>
    <h3 class="col col-12">{{.Params.subblurb}}</h3>
    <div class="col col-12 mt-d mb-0">
      <img style="width: 100%;" src="{{.Params.img_header}}" alt="">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <aside class="c__post__meta col col-12 col-md-3 col-lg-2">
        <h3>Fakten</h3>
        <ul id="tags">
          <li><strong>Gegründet</strong> 19.02.2011</li>
          <li><strong>Mitarbeiter:innen 2011</strong> 0</li>
          <li><strong>Mitarbeiter:innen 2021</strong> 28</li>
        </ul>

      </aside>
      <div class="c__post__main l__content col col-12 col-sm-10 col-md-8 col-lg-7 offset-lg-1">{{ .Content }}</div>
    </div>
  </div>
  <div class="c__post__main l__content col col-12 col-sm-10 col-md-8 col-lg-7 offset-lg-1">
    <h3>Alle Beiträge zum Jubiläumsjahr 2021</h3>
  </div>
  <div class="row col col-12 col-sm-10 col-md-8 col-lg-7 offset-lg-1">
    {{ $nate := .Paginate (where .Site.AllPages "Section" "blog") }}
    <ul class="l__blog__posts container ">
      {{ range $nate.Pages }}
        {{ if eq .Kind "page"}}
          {{ if in .Params.tags "OKFDE10" }}
            {{- partial "post_item.html" . -}}
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <div class="c__post__main l__content col col-12 col-sm-10 col-md-8 col-lg-7 offset-lg-1">
    <h3>10 Jahre OKF in Projekten</h3>
  </div>
  <div class="row anniversary-projects col col-12 col-sm-10 col-md-8 col-lg-7 offset-lg-1">
    {{ $allProjects := where .Site.Pages ".Params.layout" "==" "project" }}
    {{ $allProjects := sort (where $allProjects ".Params.years" "!=" nil) ".Params.title" "asc" }}
    {{ $years := sort (seq 2011 2019) "value" "desc" }} {{/* 2020 has no projects */}}

    {{ range $year := $years }}
    {{ $projects := slice }}
    {{ $count := 0 }}

    {{ range $project := $allProjects }}
    {{ $startyear := int (index (findRE "(\\d{4})" $project.Params.years) 0) }}
    {{ if (eq $startyear $year) }}
    {{ $projects = $projects | append $project }}
    {{ $count = (add $count 1) }}
    {{ end }}
    {{ end }}
    <div class="col-12 col-sm-5 col-md-4 col-lg-3 anniversary-projects__item">
      <h3>{{ $year }}</h3>
      <p class="my-2">
        {{ $count }}
        {{ if (eq $count 1) }}{{ i18n "anniversary_one_new_project" }}
        {{ else }}{{ i18n "anniversary_multiple_new_projects" }}{{ end }}
      </p>

      <ul>
        {{ range $project := $projects }}
        <li><a href="{{ $project.Permalink }}">{{ $project.Title }}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>




  <div class="l__profile">
    {{ range (.Paginator 10).Pages }}
    {{ if eq .Params.arrange "img_top"}}
    <section class="row l__profile__section">
      <div class="col col-12 col-md-10 offset-md-1">
        <div class="row align-items-center">
          {{ with .Params.img }}
          {{ range $i, $v := . }}
          <div class="col col-12 col-sm-6 {{ if ne $i 0}}d-none d-sm-block{{ end }}">
            <figure class="license">
              <img src="{{.url}}" alt="">
              <figcaption>{{ .license | safeHTML }}</figcaption>
            </figure>
          </div>
          {{ end }}
          {{ end }}
        </div>
        <div class="row">
          <div class="col col-12 col-md-8 offset-md-2">
            <h2 class="h3">{{.Title}}</h2>
            {{.Content}}
          </div>
        </div>
      </div>
    </section>
    {{ end }}

    {{ if eq .Params.arrange "img_bottom"}}
    <section class="row l__profile__section">
      <div class="row col col-12 col-md-10 offset-md-1">
        <div class="row order-2 order-md-1">
          <div class="col col-12 col-md-8 offset-md-2">
            <h2 class="h3">{{.Title}}</h2>
            {{.Content}}
          </div>
        </div>
        <div class="row align-items-center order-1 order-md-2">
          {{ with .Params.img }}
          {{ range $i, $v := . }}
          <div class="col col-12 col-sm-6 {{ if ne $i 0}}d-none d-sm-block{{ end }}">
            <figure class="license">
              <img src="{{.url}}" alt="">
              <figcaption>{{ .license | safeHTML }}</figcaption>
            </figure>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
    {{ end }}

    {{ if eq .Params.arrange "img_bottom_2"}}
    <section class="row l__profile__section">
      <div class="row col col-12">
        <div class="row order-2 order-md-1">
          <div class="col col-12 col-md-6 offset-md-3">
            <h2 class="h3">{{.Title}}</h2>
            {{.Content}}
          </div>
        </div>
        <div class="row align-items-center order-1 order-md-2">
          {{ with .Params.img }}
          {{ range $i, $v := . }}
          <div class="col col-12 {{if eq $i 0}}col-sm-8{{ end }}{{ if ne $i 0}}col-sm-4 d-none d-sm-block{{ end }}">
            <figure class="license">
              <img src="{{.url}}" alt="">
              <figcaption>{{ .license | safeHTML }}</figcaption>
            </figure>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
    {{ end }}

    {{ if eq .Params.arrange "img_right"}}
    <section class="row l__profile__section">
      <div class="col col-12">
        <div class="row align-items-center">
          <div class="col col-12 col-md-4 order-2 order-md-1">
            <h2 class="h3">{{.Title}}</h2>
            {{.Content}}
          </div>

          {{ with .Params.img }}
          {{ range . }}
          <div class="col col-12 col-md-8 order-1 order-md-2">
            <figure class="license">
              <img src="{{.url}}" alt="">
              <figcaption>{{ .license | safeHTML }}</figcaption>
            </figure>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </section>

    {{ end }}
    {{ end }}
  </div>
</div>

{{ end }}