<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{- partial "head.html" . -}}
    {{- block "title" .}}{{- end }}
    {{- block "head" .}}{{- end }}
  </head>
  <body class="no-js">
    {{- partial "header.html" . -}}
    <div id="content" name="content">
      <div class="">
        {{- block "main" . }}{{- end }}
      </div>
    </div>
    {{- partial "footer.html" . -}}
    {{ if or (eq .Section "projekte") (eq .Kind "home") }}
    {{ $isoLib := resources.Get "/js/vendor/isotope.pkgd.min.js" }}
    {{ $iso := resources.Get "/js/isotope.js" }}
    {{ $isoJs := slice $isoLib $iso | resources.Concat "js/iso.js" | resources.Minify | resources.Fingerprint}}
    <script src="{{$isoJs.RelPermalink}}" defer async></script>
    {{ end }}

  </body>
</html>
