{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="" />
{{ end }}

{{ define "main" }}
<main>
  <header class="l__blog__header container align-items-end">
    <div class="row align-items-end">
      <h1 class="col col-5 col-sm-10">{{ .Title }}</h1>
      <div class="l__blog__search col col-7 col-sm-2">
        <noscript>Für die Blogsuche wird JavaScript benötigt.</noscript>
        <input id="js-blog-search-input" type="text" value="" placeholder="durchsuchen">
      </div>
    </div>
  </header>

  <div id="js-blog-search-overlay" class="l__blog__search__results container">
    <div class="row no-gutters">
      <h2 class="l__blog__search__term col col-12">
        Suche nach: <span id="js-search-term">term</span>
        <button id="js-blog-search-clear" class="l__blog__search__clear" type="button" tabindex>❌</button></h2>
      <ul id="js-search-results" class="col col-12"></ul>
    </div>
  </div>

  <div id="js-blog-index">
    {{- partial "featured_post.html" . -}}

    <ul class="l__blog__posts containert mt-d">
      {{ range (.Paginator 20).Pages }}
      {{- partial "post_item.html" . -}}
      {{ end }}
    </ul>

    {{- partial "paginator.html" . -}}
  </div>
</main>
{{ end }}
