{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="" />
<meta name="Description" content="">
{{ end }}

{{ define "main" }}
<section class="l__donation container align-items-end">
  <div class="row align-items-end">
    <h1 class="col col-5 col-sm-10">{{ .Params.blurb }}</h1>
  </div>
  <div class="row mt-0 l__content">
    <div class="col col-12 col-md-8">
      {{ .Content }}
    </div>
    <div class="col col-12 col-md-3 offset-md-1 l__donation__itz">
      <img src="/okf/logo_itz.jpg" alt="Logo ITZ" width="227" height="70">
      {{ with .Params.itz_text}}<p>{{.}}</p>{{ end }}
      {{ with .Params.itz_link}}<p><a>{{.}}</a></p>{{ end }}
    </div>
  </div>
</section>
<section class="l__donation container l__content">
  <div class="row">
    <div class="col col-12 col-md-6 col-lg-5">
      {{ with .Params.bank_name}}<h3>{{.}}</h3>{{ end }}
      {{ with .Params.bank_text}}<p>{{.}}</p>{{ end }}
      <noscript><p>Bitte JavaScript einschalten wenn du kein Roboter bist.</p></noscript>
      <script>document.write(`
<dl class="l__donation__bank-transfer">
  <dt>Kontoinhaber</dt>
  <dd>Open Knowledge Foundation<br> Deutschland e.V.</dd>
  <dt>Kontonummer</dt>
  <dd>1173893200</dd>
  <dt>IBAN</dt>
  <dd>DE36430609671173893200</dd>
  <dt>BIC</dt>
  <dd>GENODEM1GLS</dd>
</dl>`)</script>
    </div>
    <div class="col col-12 col-md-6 col-lg-5">
      {{ with .Params.paypal_name}}<h3>{{.}}</h3>{{ end }}
      {{ with .Params.paypal_text}}<p>{{.}}</p>{{ end }}
      {{ with .Params.paypal_link}}<p><a href="#">{{.}}</a></p>{{ end }}
    </div>
    <div class="col col-12 col-md-10 col-lg-7">
      {{ with .Params.betterplace_name}}<h3>{{.}}</h3>{{ end }}
      {{ with .Params.betterplace_text}}<p>{{.}}</p>{{ end }}

      <iframe width="100%" height="1150px" name="Spenden" style="border:0; padding-top:10px; padding-bottom:10px;max-width: 100%;display: block; margin: 0 auto;" src="https://www.betterplace.org/de/organisations/okfde/iframe_donations/new">
        &lt;p&gt;&lt;a href="https://www.betterplace.org/de/organisations/okfde/partner_donations/new?utm_campaign=donate_btn_for_orgs&amp;#038;utm_content=okfde&amp;#038;utm_medium=external_banner&amp;#038;utm_source=orgs" target="_blank" title="Jetzt spenden mit betterplace.org!"&gt;&lt;img alt="Jetzt spenden mit betterplace.org!" height="101" src="//asset1.betterplace.org/assets/partner_widget_de-b9e7b3594d0ed53e86f32f793869d3ce.png" style="border:0px" width="160" /&gt;
        &lt;/a&gt;&lt;/p&gt;
      </iframe>
    </div>
  </div>
</section>
{{ end }}
