{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ .Permalink }}"/>
{{ with .Params.img_header }}
<meta property="og:image" content="{{ . }}"/>{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}

{{ define "main" }}
{{- partial "warning" . -}}
<section class="l__fancy-donation container">
    <div class="l__fancy-donation__content">
        <h2> {{ .Params.blurb}} </h2>
        <p> {{ .Params.blurb_copy | markdownify }} </p>
    </div>
    <div class="l__fancy-donation__image">
        <img src="/files/images/spenden.png"/>
    </div>
</section>

<section class="l__fancy-donation container">
    <div class="l__fancy-donation__content">
        <h3> {{ .Params.benefits_copy }} </h3>
        <p>
            <ul>
                {{ range .Params.benefits_bullets }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
        </p>
    </div>
    <div class="l__fancy-donation__image">
        <img src="/files/images/event.png"/>
    </div>
</section>

<section class="l__fancy-donation container">
    <div class="l__fancy-donation__content">
        <h2>{{ .Params.org }}</h2>
        <p>{{ .Params.org_copy | markdownify }}</p>
    </div>
    <div class="l__fancy-donation__image">
        <img src="/files/images/danke.png"/>
    </div>
</section>

<section class="l__fancy-donation container">
    <div style="grid-column: 1 / span 2">
        <h2> {{ .Params.betterplace_name}}</h2>
        <p> {{ .Params.betterplace_text}} </p>

        {{- partial "betterplace" -}}
    </div>
</section>

<section class="l__fancy-donation container">
    <div class="l__fancy-donation__content">
        <h2> {{ .Params.bank_name}} </h2>
        <p> {{ .Params.bank_copy}}</p>
        <dl class="l__donation__bank-transfer row">
            <dt class="col col-12 col-md-4">Kontoinhaber:</dt>
            <dd class="col col-12 col-md-8">Open Knowledge Foundation<br> Deutschland e.V.</dd>
            <dt class="col col-12 col-md-4">IBAN:</dt>
            <dd class="col col-12 col-md-8">DE36 4306 0967 1173 8932 00</dd>
            <dt class="col col-12 col-md-4">BIC:</dt>
            <dd class="col col-12 col-md-8">GENODEM1GLS</dd>
        </dl>
    </div>
    <div class="l__fancy-donation__image">
        <img src="/files/images/ueberweisung.png"/>
    </div>
</section>


<section class="l__fancy-donation container">
    <div class="l__fancy-donation__content">
        <h2>{{ .Params.inheritance }}</h2>
        <p>{{.Params.inheritance_text | markdownify }}</p>
    </div>
    <div class="l__fancy-donation__image">
        <img src="/files/images/erbschaften.png"/>
    </div>
</section>
<section class="l__fancy-donation container">
    <div class="l__fancy-donation__image" style="justify-content: flex-start">
        <h2> {{ .Params.thanks }} </h2>
    </div>
    <div class="l__fancy-donation__content">
        {{ .Params.thanks_copy | markdownify }}
    </div>
</section>
{{ end }}
