{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.img_header }}<meta property="og:image" content="{{ . }}" />{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}


{{ define "main" }}
{{ $events := where .Site.Data.events "show" true }}
{{ $lang := .Lang }}
{{ $kind := .Params.type }}

<main>
  <div class="container l__team">
    <div class="row l__team__title">
      <h1 class="col col-12 col-sm-10">
        {{ if eq $lang "en"}}
          {{ if eq $kind "current" }}Events{{ else }}Past Events{{ end }}
        {{ else }}
          {{ if eq $kind "current" }}Veranstaltungen{{ else }}Vergangene Veranstaltungen{{ end }}
        {{ end }}
      </h1>
      <ul class="l__blog__posts container mt-d">
        {{ $.Scratch.Set "current" 0 }}
        {{ $.Scratch.Set "past" 0 }}
        {{ range sort $events ".startdate" }}
          {{ if eq $kind "current" }}
            {{ if and (.startdate) ((time .startdate).After now) }}
              {{ $.Scratch.Set "current" (add ($.Scratch.Get "current") 1) }}
              {{- partial "event_item.html" . -}}
            {{ end }}
          {{ else if eq $kind "past" }}
            {{ if and (.startdate) ((time .startdate).Before now) }}
              {{ $.Scratch.Set "past" (add ($.Scratch.Get "past") 1) }}
              {{- partial "event_item.html" . -}}
            {{ end }}
          {{ end }}
        {{ end }}
        <p>
        {{ if eq $kind "current" }}
          {{ if lt ($.Scratch.Get "current") 1}}
            {{ if eq $lang "en"}}
              There are no events.
            {{ else }}
              Aktuell gibt es keine Veranstaltungen.
            {{ end }}
          {{ end }}
        {{ else if eq $kind "past" }}
          {{ if lt ($.Scratch.Get "past") 1}}
            {{ if eq $lang "en"}}
              There are no past events.
            {{ else }}
              Aktuell gibt es keine vergangenen Veranstaltungen.
            {{ end }}
          {{ end }}
        {{ end }}
        </p>
      </ul>

    </div>
    <div class="l__blog__paginator container">
      <div class="row no-gutters justify-content-end">
        {{ if eq $kind "current" }}
        <a href="../events/past/" class="l__blog__paginator__btn">
          <span>{{ if eq $lang "en"}}Past{{ else }}Vergangene{{ end }}</span><span class="l__paginator__arrow--r">→</span>
        </a>
        {{ else if eq $kind "past" }}
        <a href="../" class="l__blog__paginator__btn">
          <span>{{ if eq $lang "en"}}Current{{ else }}Aktuelle{{ end }}</span><span class="l__paginator__arrow--r">→</span>
        </a>
        {{ end }}
      </div>
    </div>


  </div>
</main>
{{ end }}
