{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.img_header }}<meta property="og:image" content="{{ . }}" />{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}


{{ define "main" }}
{{ $events := where .Site.Data.events "show" true }}
{{ $lang := .Lang }}
<main>
  <div class="container l__team">
    <div class="row l__team__title">
      <h1 class="col col-12 col-sm-10">
        {{ if eq $lang "en"}}
          Events
        {{ else }}
          Veranstaltungen
        {{ end }}
      </h1>
    </div>
    <ul class="l__blog__posts container mt-d">

      {{ range $events }}
      {{ if (time .enddate).After now }}
      {{- partial "event_item.html" . -}}
      {{ end }}
      {{ end }}
    </ul>
  </div>
</main>
{{ end }}
