{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ .Permalink }}"/>
{{ with .Params.img_header }}
<meta property="og:image" content="{{ . }}"/>{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}

{{ define "main-class" }}l__profile{{ end }}

{{ define "main" }}
<div class="container">
    <h1 class="mb-xs">{{.Params.blurb}}</h1>
    <img src="/okf/verein/team-2025.jpeg" style="width: 100%" alt="Teamfoto (eines Teils) der OKF"/>

    <h3 class="mt-xs">{{ .Params.intro.title }}</h3>
    {{ .Params.intro.copy | markdownify }}
</div>

<section class="l__content__bg--grey l__breakout my-d">
    <div class="container">
        <img src="/okf/verein/avi2.jpg" alt="Illustration" width="255">
        <div class="mt-s">
            <h3>{{ .Params.breakout.title }} </h3>
            <p>
                {{ .Params.breakout.copy | markdownify }}
                <a style="display: block" href="../aktivismus-von-innen">
                -> {{ .Params.breakout.link }}
                </a>
            </p>
        </div>
    </div>
</section>

<div class="container mb-d">
    <h3>{{ .Params.finances.title }}</h3>
    <p>
        {{ .Params.finances.copy | markdownify }}
    </p>
</div>

{{- partial "jahresberichte" . -}}

<div class="container mt-d">
    <h3 class="mb-s">{{ .Params.files.title }}</h3>

    {{- partial "downloads/finanzierung" . -}}
</div>

{{ end }}
