{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ .Permalink }}"/>
{{ with .Params.img_header }}
<meta property="og:image" content="{{ . }}"/>{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}

{{ define "main-class" }}l__profile{{ end }}

{{ define "main" }}
<div class="container">
    <h1 class="mb-xs">{{.Params.blurb}}</h1>
    <img src="/okf/verein/team-2025.jpeg" style="width: 100%"/>

    <h3 class="mt-xs">Wir stärken Zivilgesellschaft, Demokratie und Teilhabe im digitalen Zeitalter.</h3>
    <p>Die Open Knowledge Foundation Deutschland e.V. ist ein <b>gemeinnütziger Verein</b> mit Sitz in Berlin. Wir
        entwickeln Tools, organisieren Bildungsangebote, pflegen Communities, initiieren Kampagnen und bringen
        unsere Expertise in politische Prozesse ein. Unsere <a href="/projekte">Projekte</a> fördern Transparenz,
        Offenheit und technologische Souveränität.</p>
    <p>
        Wir haben einen ehrenamtlichen <a
            href="/vorstand">Vorstand</a> und ein hauptamtliches <a href="/team">Team</a>. Wir arbeiten in
        starken Allianzen mit Ehrenamtlichen, Aktivist:innen, Bildungsinitiativen und Verwaltungen. Wir sind mit
        gleichgesinnten Organisationen verbunden, unter anderem im internationalen Open Knowledge Network. Unser <a
            href="/codeofconduct">Verhaltenskodex</a> gilt für alle, die an unserer Arbeit teilnehmen. </p>
    </p>
</div>

<section class="l__content__bg--grey l__breakout my-d">
    <div class="container">
        <img src="/okf/verein/spenden.png" alt="Spenden Illustration" width="255">
        <div class="mt-s">
            <h3>Aktivismus von Innen</h3>
            <p>
                In NGOs und gemeinnützigen Organisationen liegt der Fokus oft auf der Wirkung nach außen. Doch wer
                Veränderung fordert, muss sie auch innen leben. In dieser Serie teilen wir Erfahrungen,
                Herausforderungen und Werkzeuge aus dem Aufbau einer Organisation, die ihre Werte im Inneren
                umsetzt.
                -> Aktivismus von Innen
            </p>
        </div>
    </div>
</section>

<div class="container mb-d">
    <h3>Finanzierung</h3>
    <p>
        Seit unserer Gründung im Jahr 2011 finanzieren wir uns mehrheitlich über Projekte. Diese werden von wechselnden
        Mittelgebenden gefördert. Darüber hinaus erhalten wir Spendeneinnahmen sowie in geringerem Ausmaß
        wirtschaftliche Einnahmen. In unseren Jahresberichten sind die Finanzen unseres Vereins für jedes Jahr genau aufgeschlüsselt. Jährliche
        Bilanzen und Berichte der Wirtschaftsprüfung finden sich unter <a href="/transparenz#finanzierung">Transparenz</a>.
    </p>
</div>

{{- partial "jahresberichte" . -}}

<div class="container">
    <h3 class="mb-s mt-d">Vereinsdokumente</h3>

    {{- partial "downloads/finanzierung" . -}}
</div>

{{ end }}
