{{ define "title"}}
<title>{{ .Title }} - {{ strings.FirstUpper .Section }} - {{ .Site.Title}}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
{{with .Params.subtitle }}<meta description="{{.}}">{{ end }}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content='{{ .Site.BaseURL }}files/{{ trim .Params.img "/"}}' />
{{ end }}

{{ define "main" }}
<main>
  <article class="l__project">
    <div class="container">
      <div class="row">
        <h1 class="col col-12 col-md-10 offset-md-1">{{ .Title }}</h1>
        {{ with .Params.subtitle }}
        <p class="l__project__subtitle col col-12 col-md-10 offset-md-1">{{.}}</p>
        {{ end }}
      </div>
    </div>

    {{ with .Params.img_header }}
    <div class="container l__project__headerimg">
      <div class="row">
        <div class="col col-12">
          <img src="/files/{{.}}" alt="">
        </div>
      </div>
    </div>
    {{ end }}
    <div class="container">
      <div class="row">
        <aside class="order-2 col col-12 col-sm-10 col-md-3 col-lg-2 offset-lg-1">
          {{ with .Params.years }}
          <p>{{ i18n "project_year" }}<br>{{ . }}</p>
          {{ end }}
          {{ with .Params.people }}
          <p>Team<br>
            {{ len . }} {{ i18n "project_person" }} <button>+</button>
            <div>
            {{ range . }}
            {{ .name }}<br>
              {{ end }}
            </div>
          </p>
          {{ end }}
          {{ with .Params.partners }}<p>Partner<br>
            {{ range . }}
            {{ . }}<br>
            {{ end }}
          </p>{{ end }}

          {{ with .Params.financing }}
          <p>{{ i18n "project_financing" }}<br>
            {{ range $k, $v := . }}{{ if ne $k 0 }},{{ end }} {{ . }}{{ end }}
          </p>
          {{ end }}

          {{ with .Params.website}}
          <p>Website<br><a href="{{.}}">{{ strings.TrimPrefix "https://" . }}</a></p>
          {{ end }}

        </aside>

        <div class="col col-12 col-sm-10 col-md-8 offset-md-2 col-lg-7">
          {{ .Content | markdownify}}
        </div>

      </div>
    </div>
    <aside class="l__project__aside container">
      <div class="row">
        <section class="col col-12 col-md-6">
          {{ with .Params.cta}}<h2 class="h3">{{ . }}</h2>{{ end }}
          {{ with .Params.cta_text}}<p>{{ . | markdownify }}</p>{{ end }}
          <p><a href='{{ .Site.GetPage "/spenden"}}'>{{ i18n "project_donate" }}</a></p>
        </section>
        <section class="col col-12 col-md-6">
          <h2 class="h3">{{ i18n "project_more"}}</h2>
          {{ with .Params.more_text}}<p>{{ . | markdownify }}</p>{{ end }}
          {{ with .Params.contact_person }}
          <div class="row l__project__contact align-items-center">
            {{ range where $.Site.Data.team "img" "==" .}}
            <div class="col col-4 col-lg-3">
              <img src="/team/{{.img}}_square.jpg" alt="">
            </div>
            <div class="col col-8 col-lg-9">
              <p>{{.name}}<br>
                {{.position}}</p>
              <p><a href="mailto:{{.mail}}">Mail</a></p>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </section>
      </div>
    </aside>
  </article>
</main>
{{ end }}
