{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="" />
{{ end }}


{{ define "main" }}
<main>
  <div class="container l__projects">
    <div class="row">
      <h1 class="col col-12 col-sm-10">{{ .Params.blurb }}</h1>
    </div>
    <ul class="row">
      {{ $lang := .Lang }}
      {{ range where (where $.Site.AllPages "Section" "projekte") ".Kind" "!=" "section"}}
        <li class="col col-6 col-sm-4 l__projects__item">
          <h2>{{.Title}}</h2>
          <img src="/files/{{.Params.img}}">
          {{ if eq $lang "en" }}
          {{ with .Params.en.subtitle }}
          <p>{{ . }}</p>
          {{ end }}
          {{ end }}

          {{ if eq $lang "de" }}
          {{ with .Params.de.subtitle }}
          <p>{{ . }}</p>
          {{ end }}
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </div>
</main>
{{ end }}
