{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="" />
{{ end }}


{{ define "main" }}
<main>
  <section class="container l__projects">
    <div class="row">
      <h1 class="col col-12 col-sm-10">{{ .Params.blurb }}</h1>
      <div class="col col-12 col-md-10 col-lg-8">
        <div class="c__nav-list c__nav-list--filter">
          <a href="{{.Permalink}}">Alle</a>
          {{ range  where .Site.Pages "Section" "themen"}}
          {{ if eq .Kind "page"}}
          <a href="?filter={{.Title | anchorize}}">{{.Title}}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    <ul class="row l__projects__list">
      {{ $lang := .Lang }}
      {{ range where (where $.Site.AllPages "Section" "projekte") ".Kind" "!=" "section"}}
      <li class="col col-6 col-sm-4 l__projects__item">
        <a href="{{.Permalink}}" class="tile" style="background-image: url(/files/{{.Params.img}})">
          <h2 class="h3 tile__title">{{.Title}}</h2>
          <div class="tile__overlay">
            {{ if eq $lang "en" }}
            {{ with .Params.en.subtitle }}
            <p class="h4">{{ . }}</p>
            {{ end }}
            {{ end }}

            {{ if eq $lang "de" }}
            {{ with .Params.de.subtitle  }}
            <p class="h4">{{ . }}</p>
            {{ end }}
            {{ end }}
          </div>
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
  <section class="container">
    <div class="row">
      <h2>Weitere Projekte</h2>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <h2>Abgeschlossene Projekte</h2>
    </div>
  </section>
</main>
{{ end }}
