{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.img_header }}
<meta property="og:image" content="{{ . }}" />{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}

{{ define "main" }}
<main>
  <section class='container l__publications'>
    <h1 class="col col-12 col-sm-12">{{ if .Params.blurb }}{{.Params.blurb}}{{ else }}{{.Title}}{{ end }}</h1>
    <div class="row pt-3 justify-content-between mx-2">
      <div class="col-lg-9 col-sm-10 col-12">
      <div id="year-filter">
        <details id="yearFilter" class="dropdown">
          <summary id="yearCurrent" role="button">
            {{ i18n "publication_all_time" }}
          </summary>
          <ul>
            <li><button class="button-filter filtered" onclick="changeYear('year-all')">Alle</button></li>
            {{ $years := where .Site.RegularPages "Type" "publikationen" }}
            {{ range $years.GroupByDate "2006" }}
            <li><button class="button-filter" onclick="changeYear('year-{{ .Key }}')">{{ .Key }}</button></li>
            {{ end }}
          </ul>
        </details>
      </div>
      <div id="publication-filter">
        <details id="categoryFilter" class="dropdown">
            <summary id="categoryCurrent" role="button">
              {{ i18n "publication_all_categories" }}
            </summary>
            <ul>
                <li><button class="button-filter categorized" onclick="changeType('all_types')">Alle</button></li>
                {{ $publikationen := where .Site.RegularPages "Type" "publikationen" }}
                {{ range $publikationen.GroupByParam "kategorien" }}
                <li><button class="button-filter" id="{{ .Key }}" onclick="changeType('{{ .Key }}')">{{ .Key }}</button></li>
                {{ end }}
            </ul>
        </details>
      </div>
      </div>
      <div class="d-flex justify-content-lg-end col-lg-3 col-sm-2 col-sm-2 mt-sm-0 mt-3">
        <a class="l__publication__rss" href="/publikationen/atom.xml"><span class="mr-1">{{ readFile "static/files/icons/pub_rss.svg" | safeHTML }}</span>RSS</a>
      </div>
    </div>
     
    <div class="container l__content my-5">
        {{ range where .Site.RegularPages "Type" "publikationen" }}
        <article class="l__publication__box my-5 col-lg-12 col-md-12 col-12 year-all all_types {{ .Page.Params.kategorien }} year-{{ .Date | time.Format "2006" }}">
          <div class="row justify-content-between">
            <div class="col-lg-5 col-md-6 col-12 mb-4 mb-lg-0">
              <figure class="license">
                <img src="{{ .Site.BaseURL }}{{ .Page.Params.image.src }}" alt="{{.Page.Params.image.title}}">
                {{ if .Page.Params.image.license}}
                <figcaption>{{ with .Page.Params.image.title }}{{.}}{{end}}
                  {{ with .Page.Params.image.license_url }}<a href="{{ . }}">{{ end }}
                  {{ with .Page.Params.image.license}}{{.}}{{ end }}
                  {{ with .Page.Params.image.license_url }}</a>{{ end }}
                </figcaption>
                {{ end }}
              </figure>
            </div>
            <div class="col-lg-7 col-md-6 col-12">
              <time class="mr-3" datetime="{{ .Date | time.Format ":date_long" }}">{{ .Date | time.Format ":date_long" | upper }}</time>
              <span class="l__publication__category">{{ .Page.Params.kategorien }}</span>
              <h1 class="l__publication__title mb-1 mt-4"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
              <p class="l__publication__subtitle my-0">{{ .Params.subtitle }}</p>
              <p class="l__publication__summary mb-0 mt-4">{{ .Summary | truncate 160 }}</p>
              <hr class="my-3">
              {{ with .Params.people }}
              {{ range . }}
              <span class="mr-4">{{ .name }}</span>
              {{ end }}
              {{ end }}
            </div>
          </div>
          <hr class="full-width">
        </article>
        {{ end }}
      </div>

      <!-- Data filtering for publications -->
      <script>
        let currentYear = "year-all";
        let currentType = "all_types";

        update();

        function changeType(type) {
            currentType = type;
            update();
        }

        function changeYear(year) {
            currentYear = year;
            update();
        }

        function update() {
            document
            .querySelectorAll(".l__publication__box")
            .forEach((item) => {
                    if (item.classList.contains(currentType)) {
                        item.classList.add("visible");
                    } else {
                        item.classList.remove("visible");
                    }

                    if (!item.classList.contains(currentYear)) {
                        item.classList.remove("visible");
                    }
                });

            window.updateCards = update;
        }
    </script>

    <script>
        // Function to add selected class to the selected type filter
        var categoryDetail =  document.getElementById("categoryFilter");
        var categoryCurrent =  document.getElementById("categoryCurrent");
        var btnContainer = document.getElementById("publication-filter");
        var btns = btnContainer.getElementsByClassName("button-filter");
        for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName(" categorized");
            current[0].className = current[0].className.replace(" categorized", "");
            this.className += " categorized";
            categoryDetail.removeAttribute('open');
            categoryCurrent.innerText = this.innerHTML;
        });
        }
    </script>

    <script>
        // Function to add selected class to the selected year filter
        var yearDetail =  document.getElementById("yearFilter");
        var yearCurrent =  document.getElementById("yearCurrent");
        var yearContainer = document.getElementById("year-filter");
        var years = yearContainer.getElementsByClassName("button-filter");
        for (var j = 0; j < years.length; j++) {
            years[j].addEventListener("click", function () {
                var currentYear = document.getElementsByClassName(" filtered");
                currentYear[0].className = currentYear[0].className.replace(
                    " filtered",
                    ""
                );
                this.className += " filtered";
                yearDetail.removeAttribute("open");
                yearCurrent.innerText = this.innerHTML;
            });
        }
    </script>

    <script>
      // Function to close details if another summary is clicked
      const summaries = document.querySelectorAll('summary');

      summaries.forEach((summary) => {
          summary.addEventListener('click', closeOpenedDetails);
      });

      function closeOpenedDetails() {
          summaries.forEach((summary) => {
              let detail = summary.parentNode;
              if (detail != this.parentNode) {
                  detail.removeAttribute('open');
              }
          });
      }
    </script>
    </div>
  </section>
</main>
{{ end }}