{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{.Title}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{.Permalink}}" />
<meta property="og:image" content="" />
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}


{{ define "main" }}
<main>
  <p>section template</p>
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <ul class="contents">
    {{ range .Paginator.Pages }}
    <li>
      <h2>{{.Title}}</h2>
      <div>
        {{.Content}}
      </div>
    </li>
    {{ end }}
  </ul>
  pagination
</main>
{{ end }}
