{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title}}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="" />
{{ end }}

{{ define "main" }}
<main>
  <div class="container">
    <div class="row">
      <h1 class="col col-12">{{ .Title }}</h1>
      <div class="col col-12">
        {{ .Content }}
      </div>
    </div>
  </div>
</main>
{{ end }}
