{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.img_header }}<meta property="og:image" content="{{ . }}" />{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}


{{ define "main" }}
{{ $team := where .Site.Data.team "staff" 1 }}
<main>
  <div class="container l__team">
    <div class="row l__team__title">
      <h1 class="col col-12 col-sm-10">
        {{ if eq .Lang "en"}}
          We are {{ len $team }} activists, policy specialists & developers
        {{ else }}
          Wir sind {{ len $team }} Aktivist*innen, Policy-Spezialist*innen & Entwickler*innen
        {{ end }}
      </h1>
    </div>
    <ul class="row l__team__list">
      {{ range sort $team "name" }}
        {{ partial "teammember.html" (dict "member" . "lang" $.Lang) }}
      {{ end }}
    </ul>

    <h2>
      {{ if eq .Lang "en"}}
        Volunteers
      {{ else }}
        Ehrenamtlich Mitarbeitende
      {{ end }}
    </h2>
    {{ $volunteers := where .Site.Data.team "volunteer" 1 }}
    <ul class="row l__team__list">
      {{ range sort $volunteers "name" }}
        {{ partial "teammember.html" (dict "member" . "lang" $.Lang) }}
      {{ end }}
    </ul>
  </div>
</main>
{{ end }}
