{{ define "main" }}
<main>
  <header class="l__blog__header container">
    <div class="row align-items-end">
      <h1 class="col col-5 col-sm-10">{{ .Title }} ({{ len .Data.Terms }})</h1>
    </div>
  </header>
  <div id="js-blog-index">
    <ul class="l__blog__posts container">
      {{ $type := .Type }}
      {{ range $key, $value := .Data.Terms.ByCount}}

      {{ $name := .Name }}
      {{ $count := .Count }}
      {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
      <li class="c__post--item">
        <a href="{{ .Permalink }}" class="row no-gutters">
          <h2 class="c__post__title h4 col col-10">{{ $name }}</h2>
          <p class="c__post__date h4 col-2">{{ $count }}</p>
        </a>
      </li>
      {{ end }}
      {{ end }}

    </ul>
  </div>
</main>
{{ end }}
