{{ define "main" }}
<main>
  <div class="container">
    <div class="row">
      <h1 class="col col-12">{{.Params.blurb}}</h1>
    </div>
    <div class="l__topics">
      {{ range .Pages }}
      <a href="{{.Permalink}}" title='{{ i18n "topics_more"}} {{.Title}}'>
        <section class="row align-items-center l__topics__section mt-d mb-l">
          <div class="col col-12 col-md-6 order-2 order-md-1">
            <h2 class="h3">{{.Title}}</h2>
            <p>{{.Summary}}</p>
            <p class="linked">{{ i18n "topics_more"}} {{.Title}} {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}</p>
          </div>
          <div class="col col-12 col-md-6 order-1 order-md-2">
            <img src="{{ .Params.img }}" alt="Illustration zu {{.Title}}">
          </div>
        </section>
      </a>
      {{ end }}
    </div>
  </div>
</main>
{{ end }}
