{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="" />
<meta name="Description" content="OKF Themen">
{{ end }}

{{ define "main" }}
<main>
  <div class="container">
    <div class="row">
      <h1 class="col col-12">{{.Params.blurb}}</h1>
    </div>
    <div class="l__topics">
      {{ range .Pages }}
      <section class="row align-items-center l__topics__section mt-d mb-l">
        <div class="col col-12 col-md-6">
          <h2 class="h3">{{.Title}}</h2>
          {{.Summary}}
          <p><a href="{{.Permalink}}">{{ i18n "topics_more"}} {{.Title}} {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}</a></p>
        </div>
        <div class="col col-12 col-md-6">
          {{ with .Params.img }}<img src="{{ . }}">{{ end }}
          </div>
      </section>
      {{ end }}
    </div>
  </div>
</main>
{{ end }}
