.js
  padding-top: $topbar-height + $space-m
  .l__topbar
    position: fixed
    top: 0
    z-index: 11
    width: 100%
    transition: top 300ms ease-out
    &.is-up
      transition: top 300ms ease-in
      top: -($topbar-height * 2)

.l__topbar
  background-color: $white
  border-bottom: $greyish 1px solid
  .l__wrapper
    padding-top: 7px
    max-width: map-get($container-max-widths, xl)
    display: grid
    grid-template-areas: "logo burger" "nav nav"
    margin: auto

    @media (max-width: map-get($container-max-widths, xl))
      padding-inline: $space-half

    .l__logo
      grid-area: logo

    .l__topbar__toggle
      grid-area: burger


.l__inner
  @include make-row()

.l__nav
  justify-content: end
  align-items: center
  gap: 1ch

  .active
    color: $anchor

    &:hover
      color: $anchor
      border-bottom-color: $anchor

@media print
  .js
    padding-top: 0

    .l__topbar
      position: static
      margin-bottom: $space

      > div
        min-height: auto !important
        height: auto !important


  .l__topbar
    .l__inner
      justify-content: center
    .l__nav, .l__topbar__toggle
      display: none

.l__footer
  border-top: $greyish 1px solid
  > div
    max-width: map-get($container-max-widths, xl)
    @include make-container()
