.l__blog__header
  max-width: $max-width
  margin-left: auto
  margin-right: auto
  margin-bottom: $space-m

.l__blog__posts
  max-width: $max-width
  margin-left: auto
  margin-right: auto
  padding: 0 $grid-gutter-width/ 2

.l__blog__paginator
  max-width: $max-width
  margin-left: auto
  margin-right: auto
  margin-top: $space
  margin-bottom: $space-double * 2

.l__blog__paginator__btn
  width: 120px
  padding: 0.55em .7em .5em
  color: $anchor
  font-size: 1.1rem
  font-weight: 500
  text-decoration: none
  border: $anchor 2px solid
  transition: background-color 200ms ease-in
  display: flex
  position: relative
  justify-content: space-evenly
  & + &
    margin-left: 10px
  &:hover,
  &:active
    text-decoration: none
    .l__paginator__arrow--r
      transform: translateX(.5em)
    .l__paginator__arrow--l
      transform: translateX(-.5em)

.l__paginator__arrow--l,
.l__paginator__arrow--r
  position: relative
  transition: transform 200ms ease
