.blog__header
  max-width: 1140px
  margin-bottom: $space-m

.blog__posts
  max-width: 1140px
  padding: 0 $grid-gutter-width/ 2

.blog__search
  text-align: right
  margin-bottom: 0.6em
  input
    display: inline-block
    width: 140px
    padding: .5em
    border: none
    background: none
    border-bottom: 2px solid $primary
  input::-moz-placeholder,
  input::-webkit-input-placeholder,
  input:-ms-input-placeholder
    color: $primary
    font-size: 1.1rem
    opacity: 1
  input::placeholder
    color: $primary
    font-size: 1.1rem
    opacity: 1

.blog__search__results
  max-width: 1140px

.blog__search__term
  margin-top: -3rem
  margin-bottom: $space-m
  color: $anchor

.blog__search__clear
  vertical-align: top

.blog__paginator
  margin-top: $space
  margin-bottom: $space-double * 2

.blog__paginator__btn
  width: 120px
  padding: 0.55em .7em .5em
  color: $anchor
  font-size: 1.1rem
  font-weight: 600
  text-decoration: none
  border: $anchor 2px solid
  transition: background-color 200ms ease-in
  display: flex
  justify-content: space-evenly
  & + &
    margin-left: 10px
  &:hover,
  &:active
    background-color: $anchor
    color: $white

.post__item
  border-bottom: 1px solid $greyish
  a
    padding: $space * 0.76 0
    text-decoration: none
    color: inherit
    transition: background-color 200ms ease
    &:hover,
    &:active
      background-color: $greyish

.post__title

.post__date
  color: $secondary
  font-weight: 600
  text-align: right
