.l__finance__reports
  display: flex
  flex-direction: column
  gap: 20px

  ul
    list-style-type: none
    padding: 0
    margin: 0
    column-gap: 20px
    row-gap: .2em
    display: flex
    flex-wrap: wrap
    flex-direction: row

    li
      margin-bottom: 0

  h4
    margin: 0
