.l__profile
  p
    line-height: 1.5
    font-size: 1.1em
    margin-bottom: $space
  h2
  	margin: 2em 0 0.75em 0
  img
    width: 100%
    height: auto

  .row + .row
    margin-top: $space

.l__profile__section
  margin: $space-double 0

.l__profile__aside
  margin: 120px 0


.c__additional
  img
    height: 100%
    width: auto
    max-width: 100%

.c__additional__info
  padding: $space $space-double $space $space
  background-color: #e1eafb
  h3 + p
    margin-top: $space
