.l__projects
  margin-bottom: $space-double * 2

.l__projects__item
  img
    width: 100%
    height: auto

.l__project__other
  margin-bottom: $space-double * 2
  text-align: center

.l__projects__list
  // left: 0 !important // only needed in Firefox :thinking_face:
  width: 100%
  //display: block

.l__projects__list--center
  margin-top: $space
  li
    display: inline-block
  .h4
    color: $black
    font-weight: 600
