.l__verein
  max-width: 1140px
  img
    width: 100%
    height: auto

.l__verein--grey
  background-color: $pale-grey

.l__verein__headerimg
  margin: $space-double 0 0

.l__verein__content
  margin-top: 0

.l__verein__stats
  .h1
    font-size: 75px
  > div
    margin-bottom: $space-double

.l__verein__vorstand
  padding: $space-double * 2 0 $space-double
  li
    margin-bottom: $space
  p
    &:before
      content: ""
      display: block
      width: 2em
      height: 3px
      margin: 0.5em 0
      background-color: $anchor
  img
    height: 300px
    object-fit: cover
