<aside class="dropbanner zehn gone">
  <div class="mx-auto">
    <div class="container">
      <div class="row">
        <div class="logo-zehn">
          <img src="/files/logos/zehn-jahre/logo-10-icon.svg" width="568" height="222" alt="Logo 10 Jahre OKF"
            class="d-md-none">
          <img src="/files/logos/zehn-jahre/logo-10.svg" width="220" height="220" alt="Logo 10 Jahre OKF"
            class="d-none d-md-block">
        </div>
        <div class="col text">
          <p>{{ i18n "anniversary_banner_headline" }}</p>
          {{ with .Site.GetPage "/anniversary" }}
          <a href="{{ .Permalink }}" class="mt-2">
            {{ i18n "learn_more" }} {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <div class="close">
    <button title="{{ i18n " close" }}">&times;</button>
  </div>
</aside>