<aside class="dropbanner zehn gone">
  <div class="mx-auto">
    <div class="row">
      <div class="logo-zehn">
        <img src="/files/logos/zehn-jahre/logo-10.svg" width="568" height="222" alt="Logo 10 Jahre OKF">
      </div>
      <div class="col text">
        <p class="h3">Die OKF wird zehn Jahre alt. Feiern Sie mit uns!</p>
        <a href="#!" class="mt-2">
          Mehr Informationen {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}
        </a>
      </div>
    </div>
  </div>

  <div class="close">
    <button title="Schließen">&times;</button>
  </div>
</aside>