<div class="c__post--featured container">
  {{ range first 1 (where .Site.Pages.ByDate.Reverse "Params.featured" "ne" nil) }}
  <div class="row no-gutters c__post__bg--{{.Params.featured}}">
    <a href="{{ .Permalink }}">
      <h2 class="h3 col col-sm-10 col-md-8 col-lg-6">{{ .Title }}</h2>
      <p class="h3 col col-lg-3"><time datetime="{{.Date}}">{{ .Date.Format "02.01.2006" }}</time></p>
      <div class="c__post__image col col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
        <img src="{{.Params.image.src}}" alt="">
      </div>
    </a>
  </div>
  {{ end }}
</div>
