<footer class="l__footer">
  <div>
    <div class="l__inner">
      <section class="l__footer__contact col col-12 col-sm-5 col-md-3 offset-md-2 order-2">
        <h2>{{ i18n "footer_contact" }}</h2>
        <p>Open Knowledge Foundation<br>
          Deutschland e.V.</p>
        <p>
          Singerstr. 109<br>
          10179 Berlin</p>
        <p>+49 30 57 70 36 660<br>
          info@okfn.de [<a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xFE54F46F21DDAED1">OpenPGP</a>]</p>
      </section>
      <section class="col col-12 col-sm-7 col-md-7 order-1">
        <h2>Newsletter</h2>
        <p>Unser monatlicher Newsletter informiert über Neuigkeiten aus unseren Projekten, <br>der Organisation und von Veranstaltungen, auf denen wir zu treffen sind!</p>
        <form class="newsletter c__newsletter">
          <input type="email" class="c__newsletter__input">
          <input type="submit" class="c__newsletter__btn" value='{{ i18n "footer_signup" }}'>
        </form>
      </section>
      <nav class="col col-md-7 col-lg-5 order-3">
        <ul class="c__nav-list">
          {{ with .Site.GetPage "/verein" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
          {{ with .Site.GetPage "/vorstand" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
          <li><a href="#">Transparenz</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Presse</a></li>
          <li><a href="#">Impressum</a></li>
        </ul>
      </nav>
      <div class="col order-4 col-6 col-sm-5 offset-sm-1 col-md-3 offset-md-2 offset-lg-4">
        <ul class="c__nav-list">
          <li><a href="https://twitter.com/okfde" title="OKF DE bei Twitter">{{ readFile "static/files/icons/twitter.svg" | safeHTML }}</a></li>
          <li><a href="https://www.facebook.com/okfde/" title="OKF DE bei Facebook">{{ readFile "static/files/icons/facebook.svg" | safeHTML }}</a></li>
          <li><a href="https://github.com/okfde" title="OKF DE bei GitHub">{{ readFile "static/files/icons/github.svg" | safeHTML }}</a></li>
          <li><a href="https://www.flickr.com/photos/okfde" title="OKF DE bei Flickr">{{ readFile "static/files/icons/flickr.svg" | safeHTML }}</a></li>
          <li><a href="https://www.youtube.com/channel/UCUD8EFjXzRN-wFUbVTYlDAw" title="OKF DE auf YouTube">{{ readFile "static/files/icons/youtube.svg" | safeHTML }}</a></li>
          <li><a href="/blog/atom.xml" title="OKF DE Blog als Atom Feed">{{ readFile "static/files/icons/rss.svg" | safeHTML }}</a></li>
        </ul>
      </div>
      <div class="l__footer__footnote col col-12 col-sm-10 col-md-7 order-5">
        <p>Wir verwenden die datenschutzfreundliche Technologie von <a href="https://matomo.org/">Matomo</a>, um statistische Auswertungen der Seitennutzung zu erhalten. Wenn sie dies nicht wollen, <a href="#">können Sie hier den Haken entfernen</a>. <br>Näheres in unserer <a herf="#">Datenschutzerklärung</a>.</p>
        <p>Open Knowledge Foundation Deutschland e.V. ist ein gemeinnütziger Verein, Vereinsregister-Nr. VR 30468 B. Die Inhalte dieser Webseite sind, sofern nicht anders angegeben, nach <a href="https://creativecommons.org/licenses/by/3.0/de/">Creative Commons 3.0 Attribution</a> lizensiert. </p>
      </div>
    </div>
  </div>
</footer>
