<footer class="l__footer">
  <div class="l__inner">
    <section>
      <h2>Kontakt</h2>
      <p>Open Knowledge Foundation<br>
        Deutschland e.V.</p>
      <p>
        Singerstr. 109<br>
        10179 Berlin</p>
      <p>+49 30 57 70 36 660<br>
        info@okfn.de [<a href="#">OpenPGP</a>]</p>
    </section>
    <section>
      <h2>Newsletter</h2>
      <p>Newsletter foo</p>
      <form class="newsletter">
        <input type="email"><input type="submit">
      </form>
    </section>
    <nav class="l__nav">
      <ul>
        <li><a href="#">Verein</a></li>
        <li><a href="#">Vorstand</a></li>
        <li><a href="#">Transparenz</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">Impressum</a></li>
      </ul>
    </nav>
    <div>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Meetup</a></li>
        <li><a href="#">Flickr</a></li>
        <li><a href="#">YouTube</a></li>
        <li><a href="#">RSS</a></li>
      </ul>
    </div>
    <div class="color--light">
      <p>Wir verwenden die datenschutzfreundliche Technologie von <a href="https://matomo.org/">Matomo</a>, um statistische Auswertungen der Seitennutzung zu erhalten. Wenn sie dies nicht wollen, <a href="#">können Sie hier den Haken entfernen</a>. Näheres in unserer <a herf="#">Datenschutzerklärung</a>.</p>
      <p>Open Knowledge Foundation Deutschland e.V. ist ein gemeinnütziger Verein, Vereinsregister-Nr. VR 30468 B. Die Inhalte dieser Webseite sind, sofern nicht anders angegeben, nach <a href="https://creativecommons.org/licenses/by/3.0/de/">Creative Commons 3.0 Attribution</a> lizensiert. </p>
    </div>
  </div>
</footer>
