<div class="c__nav-list--columns">
  <ul>
    {{ with .Site.GetPage "/projekte" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
    {{ with .Site.GetPage "/publikationen" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
    {{ with .Site.GetPage "/events" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
    {{ with .Site.GetPage "/blog" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
  </ul>

  <ul>
    {{ with .Site.GetPage "/ueber-uns" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
    {{ with .Site.GetPage "/team" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
    {{ with .Site.GetPage "/vorstand" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
    {{ with .Site.GetPage "/codeofconduct" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
    {{ with .Site.GetPage "/transparenz" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
  </ul>

  <ul>
      {{ with .Site.GetPage "/spenden" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
      {{ with .Site.GetPage "/presse" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
      {{ with .Site.GetPage "/jobs" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
      {{ with .Site.GetPage "/impressum" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
  </ul>
</div>
