<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $style := resources.Get "sass/main.sass" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{$style.RelPermalink}}">

{{ $toggle := resources.Get "js/toggle.js" }}
{{ $lunr := resources.Get "/js/vendor/lunr.js" }}
{{ $bsearch := resources.Get "/js/blog-search.js" }}

{{ $js := slice $toggle $lunr $bsearch | resources.Concat "js/bundle.js"  | resources.Fingerprint}}
<script src="{{$js.RelPermalink}}"></script>


{{ $isoLib := resources.Get "/js/vendor/isotope.pkgd.min.js" }}
{{ $iso := resources.Get "/js/isotope.js" }}
{{ $isoJs := slice $isoLib $iso | resources.Concat "js/iso.js"  | resources.Fingerprint}}
<script src="{{$isoJs.RelPermalink}}"></script>
