<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="/files/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/files/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/files/favicon/favicon-16x16.png">
<link rel="manifest" href="/files/favicon/site.webmanifest">
<link rel="mask-icon" href="/files/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/files/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/files/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link rel="preload" href="/fonts/apercu-bold-pro.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/apercu-medium-pro.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/apercu-regular-pro.woff" as="font" type="font/woff" crossorigin>

{{ $style := resources.Get "sass/main.sass" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{$style.RelPermalink}}" as="style">

{{- partial "js.html" . -}}
