<header class="l__topbar">
  <div>
    <div class="l__inner">
      <a href="#content" class="show-on-focus skip">Skip to content</a>
      <a href="{{ .Site.BaseURL }}" class="c__logo l__logo">{{ readFile "static/okf/okf-logo-topbar.svg" | safeHTML }}</a>
      <div class="l__topbar__toggle">
        <button type="button" id="js-topnav-toggle" tabindex="">🍔</button>
      </div>
      <ul class="l__nav c__nav-list c__nav-list--top" id="js-topnav-menu">
        {{ with .Site.GetPage "/profil" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/projekte" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/themen" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/team" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        <li><a href="/blog">Blog</a></li>

        {{ $langList := (.Page.AllTranslations) }}
        {{ $lenLangList := len $langList}}
        <li>{{ range $index, $translation := $langList }}
          <a href="{{ $translation.Permalink }}">{{ $translation.Language.LanguageName }}</a>
          {{ if (eq $index 0) }}|{{ end }}
          {{ if (eq $lenLangList 1)}}
          <a href="{{ $translation.Permalink}}">EN</a>
          {{ end }}
          {{ end }}
        </li>
        <li class="search-btn">🔍</li>
        <li class="c__donate-btn"><a href="#">Spenden</a></li>
      </ul>
    </div>
  </div>
</header>
