<header class="l__topbar">
  <div>
    <div class="l__inner">
      <a href="#content" class="show-on-focus skip">Skip to content</a>
      <a href="{{ .Site.BaseURL }}" class="c__logo l__logo">{{ readFile "static/okf/okf-logo-topbar.svg" | safeHTML }}</a>
      <div class="l__topbar__toggle">
        <button type="button" id="js-topnav-toggle" tabindex="">🍔</button>
      </div>
      <ul class="l__nav c__nav-list c__nav-list--top" id="js-topnav-menu">
        {{ with .Site.GetPage "/profil" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/projekte" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/themen" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/team" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        <li><a href="/blog">Blog</a></li>

        {{ $langList := (.Page.AllTranslations) }}
        {{ $lenLangList := len $langList}}
        <li>{{ range $index, $translation := $langList }}
          <a href="{{ $translation.Permalink }}">{{ $translation.Language.LanguageName }}</a>
          {{ if (eq $index 0) }}|{{ end }}
          {{ if (eq $lenLangList 1)}}
          <a href="{{ $translation.Permalink}}">EN</a>
          {{ end }}
          {{ end }}
        </li>
        <li class="search-btn"><button id="js-search-button">🔍</button></li>
        {{ with .Site.GetPage "/spenden" }}<li class="c__donate-btn"><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
      </ul>

      <div id="" class="l__search__overlay js-search-form">
        <div class="container">
          <div class="row align-items-center">
            <h2 class="h1 col col-md-3">{{ i18n "search"}}</h2>
            <div class="col col-md-5">
              <input type="text" id="js-search-input" class="l__search__input">
            </div>
            <div class="col col-md-1 offset-md-2">
              <button id="js-close-search" title='{{ i18n "search_close" }}' aria-label='{{ i18n "close_search"}}'>x</button>
            </div>
          </div>

          <ul class="l__search__results" id="js-search-results"></ul>
        </div>
      </div>
    </div>
  </div>
</header>
