{{ $banner := resources.Get "/js/banner.js" }}
<script src="{{$banner.RelPermalink}}"></script>

{{ $lunr := resources.Get "/js/vendor/lunr.js" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{$lunr.RelPermalink}}" as="script">
<script src="{{$lunr.RelPermalink}}"></script>

{{ $toggle := resources.Get "js/toggle.js" }}
{{ $ssearch := resources.Get "/js/site-search.js" }}
{{ $js := slice $toggle $ssearch | resources.Concat "js/bundle.min.js"  | resources.Minify | resources.Fingerprint}}
<link rel="preload" href="/js/site-search-index.json" as="fetch">
<link rel="preload" href="{{$js.RelPermalink}}" as="script">
<script src="{{$js.RelPermalink}}"></script>

{{ if eq .Section "blog"}}
  {{ $bsearch := resources.Get "/js/blog-search.js" | resources.Minify | resources.Fingerprint }}
  <link rel="preload" href="{{$bsearch.RelPermalink}}" as="script">
  <link rel="preload" href="/js/blog-search-index.json" as="fetch">
  <script src="{{$bsearch.RelPermalink}}"></script>
{{ end }}

{{ if (eq .Section "projekte") }}
  {{ $shuffLib := resources.Get "/js/vendor/shuffle.min.js" }}
  {{ $shuff := resources.Get "/js/shuffle.js" }}
  {{ $shuffleJs := slice $shuffLib $shuff | resources.Concat "js/shuff.js" | resources.Minify | resources.Fingerprint}}
  <link rel="preload" href="{{$shuffleJs.RelPermalink}}" as="script">
  <script src="{{$shuffleJs.RelPermalink}}" defer></script>
{{ end }}

{{ if eq .Section "finanzierung" }}
  {{ $d3 := resources.Get "/js/vendor/d3.min.js" }}
  {{ $d3tip := resources.Get "/js/vendor/d3-tip.js" }}
  {{ $customd3 := resources.Get "/js/viz.js" }}
  {{ $vizJs := slice $d3 $d3tip $customd3 | resources.Concat "js/data-viz.js" | resources.Minify | resources.Fingerprint}}
  <link rel="preload" href="{{$vizJs.RelPermalink}}" as="script">
  <script src="{{$vizJs.RelPermalink}}" defer></script>
{{ end }}
