{{ $toggle := resources.Get "js/toggle.js" }}
{{ $lunr := resources.Get "/js/vendor/lunr.js" }}
{{ $ssearch := resources.Get "/js/site-search.js" }}
{{ $js := slice $toggle $lunr $ssearch | resources.Concat "js/bundle.js"  | resources.Minify | resources.Fingerprint}}
<script src="{{$js.RelPermalink}}"></script>

{{ if eq .Section "blog"}}
{{ $bsearch := resources.Get "/js/blog-search.js" | resources.Minify | resources.Fingerprint }}
<script src="{{$bsearch.RelPermalink}}"></script>
{{ end }}


{{ if (eq .Section "projekte") }}
{{ $shuffLib := resources.Get "/js/vendor/shuffle.min.js" }}
{{ $shuff := resources.Get "/js/shuffle.js" }}
{{ $shuffleJs := slice $shuffLib $shuff | resources.Concat "js/shuff.js" | resources.Minify | resources.Fingerprint}}
<script src="{{$shuffleJs.RelPermalink}}"></script>
{{ end }}

{{ if eq .Section "finanzierung" }}
{{ $d3 := resources.Get "/js/vendor/d3.min.js" }}
{{ $d3tip := resources.Get "/js/vendor/d3-tip.js" }}
{{ $customd3 := resources.Get "/js/viz.js" }}
{{ $vizJs := slice $d3 $d3tip $customd3 | resources.Concat "js/data-viz.js" | resources.Minify | resources.Fingerprint}}
<script src="{{$vizJs.RelPermalink}}"></script>
{{ end }}
