<form method="post" action="https://te917244a.emailsys1a.net/172/4129/5126005eed/subscribe/form.html?_g=1645088825" class="rmBase__content">  
  <input type="text" name="email" id="email" placeholder="E-Mail" value="" class="rmBase__comp--input comp__input">
  <span class="input-group-btn">
    <button type="submit" name="subscribe" id="mc-embedded-subscribe{{with .Title}}-job{{end}}" class="c__newsletter__btn">{{ i18n "footer_signup" }}</button>
    <span style="position: absolute; left: -5000px;">
      <label for="email" class="rmBase__compLabel rmBase__compLabel--hideable">
      <input type="text" name="email" id="email" placeholder="E-Mail" value="" class="rmBase__comp--input comp__input">
      <!-- set to newsletter only-->
      <input type="checkbox" value="1" checked="checked" name="group[16985][1]" id="mce-group[16985]-16985-0" style="display:none;">
