<form action="https://te917244a.emailsys1a.net/172/4129/5126005eed/subscribe/form.html?_g=1645088271" method="post" id="mc-embedded-subscribe-form{{with .Title}}-job{{end}}" name="mc-embedded-subscribe-form" class="newsletter c__newsletter" target="_blank">
  <label for="email" class="rmBase__compLabel rmBase__compLabel--hideable">E-Mail-Adresse</label>
  <input type="text" name="email" id="email" placeholder="E-Mail" value="" class="rmBase__comp--input comp__input">
  <span class="input-group-btn">
    <button type="submit" name="subscribe" id="mc-embedded-subscribe{{with .Title}}-job{{end}}" class="c__newsletter__btn">{{ i18n "footer_signup" }}</button>
    <span style="position: absolute; left: -5000px;">
      <label for="mce-NAME{{with .Title}}-job{{end}}">Rapidmail form name (do not change)</label>
      <input type="text" id="mce-NAME{{with .Title}}-job{{end}}" name="b_929f1e07936386d34833e20d1_bb63fcab72" value="">
      <!-- set to newsletter only-->
      <input type="checkbox" value="1" checked="checked" name="group[16985][1]" id="mce-group[16985]-16985-0" style="display:none;">
    </span>
  </span>
</form>
