<div id="" class="l__search__overlay js-search-form">
  <div class="container">
    <div class="row align-items-center">
      <div class="col col-12 col-md-8 offset-md-2">
        <div>
          <label for="js-search-input" class="sr-only">{{ i18n "search_field_label"}}</label>
          <input type="text" id="js-search-input" class="l__search__input" placeholder="Wonach suchst Du?">
          <button id="js-close-search" class="l__search__close" title='{{ i18n "search_close" }}' aria-label='{{ i18n "search_close"}}'>
            {{ readFile "static/files/icons/close.svg" | safeHTML }}</button></h2></button>
        </div>
        <div><p id="js-search-result-count" class="l__search_results__count"></p></div>
        <ul class="l__search__results" id="js-search-results"></ul>
      </div>
    </div>
  </div>
</div>
