<ul class="c__nav-list">
  <li><a href="https://twitter.com/okfde" title="OKF DE bei Twitter">{{ readFile "static/files/icons/twitter.svg" | safeHTML }}</a></li>
  <li><a href="https://www.facebook.com/okfde/" title="OKF DE bei Facebook">{{ readFile "static/files/icons/facebook.svg" | safeHTML }}</a></li>
  <li><a href="https://github.com/okfde" title="OKF DE bei GitHub">{{ readFile "static/files/icons/github.svg" | safeHTML }}</a></li>
  <li><a href="https://www.flickr.com/photos/okfde" title="OKF DE bei Flickr">{{ readFile "static/files/icons/flickr.svg" | safeHTML }}</a></li>
  <li><a href="https://www.youtube.com/channel/UCUD8EFjXzRN-wFUbVTYlDAw" title="OKF DE auf YouTube">{{ readFile "static/files/icons/youtube.svg" | safeHTML }}</a></li>
  <li><a href="/blog/atom.xml" title="OKF DE Blog als Atom Feed">{{ readFile "static/files/icons/rss.svg" | safeHTML }}</a></li>
</ul>
