<li class="col col-12 col-sm-6 col-lg-4">
    <img src="/team/{{.member.img}}.jpg" alt="{{.member.img}}">
    <h2 class="h3">{{.member.name}}</h2>
    {{ if eq .lang "en" }}
      <p class="l__team__meta">{{.member.position_en}}</p>
      <p>{{.member.bio_en | markdownify}}</p>
    {{ else }}
      <p class="l__team__meta">{{.member.position}}</p>
      <p>{{.member.bio | markdownify}}</p>
    {{ end }}
    <p class="l__team__contact">
        {{ with .member.mail }}<a href="mailto:{{.}}" target="_blank">Mail</a>{{ end }}
        {{ with .member.mastodon }}<a href="{{.}}" target="_blank">Mastodon</a>{{ end }}
        {{ with .member.twitter }}<a href="https://twitter.com/{{.}}" target="_blank">Twitter</a>{{ end }}
        {{ with .member.website }}<a href="{{.}}">Website</a>{{ end }}
        {{ with .member.github }}<a href="https://github.com/{{.}}" target="_blank">GitHub</a>{{ end }}
    </p>
</li>