{{ define "title"}}
<title>404 - Page not found</title>
{{ end }}

{{ define "head" }}
<style>
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  figure {
    margin: 0;
  }
</style>
{{ end }}

{{ define "main" }}
<main>
  <div class="container">
    <div class="row l__content">
      <h1 class="col col-12">Hier gibt’s leider nichts zu sehen.</h1>
      <div class="col col-12">
        <p>Nothing to see here, sorry.</p>
      </div>
    </div>

    <div class="row mb-l">
      <!-- First column -->
      <div class="col col-12 col-md-6">
        <figure class="license">
          <img src="/files/images/studie.jpg" alt="">
        </figure>
        <div class="row mt-xs">
          <div class="col col-6">
            <figure class="license">
              <img src="/files/images/studie2.jpg" alt="">
            </figure>
          </div>
          <div class="col col-6">
            <figure class="license">
              <img src="/files/jobs/ulm_shruggie.jpg" alt="">
            </figure>
          </div>
        </div>
      </div>

      <!-- Second column -->
      <div class="col col-12 col-md-6">
        <div class="row">
          <div class="col col-12">
            <figure class="license">
              <img src="/files/jobs/alpaka_lea.jpg" alt="">
            </figure>
          </div>
        </div>
        <div class="row mt-xs">
          <div class="col col-6">
            <figure class="license">
              <img src="/files/jobs/weihnachtsmarkt.jpg" alt="">
            </figure>
          </div>
          <div class="col col-6">
            <figure class="license">
              <img src="/files/jobs/bretter.jpg" alt="">
             
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
