{{ define "title"}}
<title>404 - Page not found</title>
{{ end }}

{{ define "head" }}
<style>img { width:100%; height: auto; }</style>
{{ end }}

{{ define "main" }}
<main>
  <div class="container">
    <div class="row l__content">
      <h1 class="col col-12">Hier gibt’s leider nichts zu sehen.</h1>
       <div class="col col-12">
        <p>Nothing to see here, sorry.</p>
      </div>
    </div>

    <div class="row mb-l">
      <div class="col col-12">
        <figure class="license">
          <img src="/files/images/Studie2.jpg" alt="grafik">
        </figure>
      </div>
    </div>
  </div>
</main>
{{ end }}
