{{ define "title"}}
<title>OKF - Open Knowledge Foundation Deutschland e.V.</title>
{{ end }}

{{ define "head" }}
<meta property="og:title" content="OKF DE" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://okfn.de" />
<meta property="og:image" content="/files/favicon/favicon-96x96.png" />
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}

{{ define "main" }}
<main>
  <div class="l__home">
    <div class="container mb-d">
      <div class="row">
        <div class="col col-12 col-md-11">
          <h1>{{ .Params.blurb }}</h1>
        </div>
      </div>
    </div>

    <div class="container l__content mb-l">
      <div class="row align-items-center">
        <div class="col col-12 col-sm-7 col-md-8 l__home__img">
          <img src="/okf/profil/profil_teaser_2.jpg" alt="">
          <img src="/okf/profil/profil_teaser_1.jpg" alt="">
        </div>
        <div class="col col-12 col-sm-5 col-md-4">
          <p>{{ .Params.work }}</p>
          <p>{{ with .Site.GetPage "/profil" }}
            <a href="{{ .Permalink }}" class="c__arrow">
              {{ i18n "home_about_work" }} {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}</a>{{ end }}
          </p>
        </div>
      </div>
    </div>

    <section class="container mt-l">
      <div class="row justify-between align-items-baseline">
        <div class="col col-10 col-sm-9 col-lg-10 mb-s">
          <h2>{{ i18n "home_our_projects"}}</h2>
        </div>
        <div class="col col-12 col-md-3 col-lg-2">
          <p>{{ with .Site.GetPage "/projekte" }}
            <a href="{{ .Permalink }}" class="c__arrow">
              {{ i18n "home_all_projects" }} {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}</a>{{ end }}</p>
        </div>
      </div>
      <div>
        <ul class="l__projects__list--home mb-l">
          {{ $lang := .Lang }}
          {{ range first 6 ( sort (where $.Site.RegularPages "Section" "projekte") "Weight" "desc") }}
          <li class="col col-12 col-sm-6 col-md-4 l__projects__item">
            <a  href="{{.Permalink}}" class="c__tile c__tile--single" style="background-image: url(/files/{{.Params.img}})" title="{{.Title}}">
              <h2 class="h3 c__tile__title">{{.Title}}</h2>
              <div class="c__tile__overlay">
                {{ if eq $lang "en" }}
                {{ with .Params.en.subtitle }}
                <p class="h4">{{ . }}</p>
                {{ end }}
                {{ end }}

                {{ if eq $lang "de" }}
                {{ with .Params.de.subtitle  }}
                <p class="h4">{{ . }}</p>
                {{ end }}
                {{ end }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </section>

    <section class="l__content__bg--grey l__home__donate">
      <div class="container">
        <div class="row align-items-center">
          <div class="col col-6 col-md-3 offset-md-1">
            <img src="/okf/verein/spenden.png" alt="" class="l__home__donate__img">
          </div>
          <div class="col col-6 col-md-7 offset-md-1 l__content ">
            <h3>{{ .Params.donate_title }}</h3>
            <p>{{ .Params.donate_text}}</p>
            <p>{{ with .Site.GetPage "/spenden" }}
              <a href="{{ .Permalink }}" class="c__arrow">
                {{ i18n "home_donate" }} {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}</a>{{ end }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="container mt-l mb-l">
      <div class="row justify-between">
        <div class="col col-10 mb-s">
          <h2>{{ i18n "home_blog_news" }}</h2>
        </div>
        {{- partial "featured_post.html" . -}}

        <ul class="l__blog__posts container mt-s">
          {{ range first 4 ( sort (where (where $.Site.AllPages "Section" "blog") "Kind" "page")) }}
          {{- partial "post_item.html" . -}}
          {{ end }}
        </ul>
      </div>

      <div class="mt-s">
        <p>{{ with .Site.GetPage "/blog" }}
          <a href="{{ .Permalink }}" class="c__arrow">
            {{ i18n "home_all_posts" }} {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}</a>{{ end }}</p>
      </div>
  </div>
    </section>
</main>
{{ end }}
