{{ define "title"}}
<title>{{ .Title }} - {{ strings.FirstUpper .Section }} - {{ .Site.Title}}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ if (isset .Params "featured") }}
  <meta property="og:image" content='{{ .Site.BaseURL }}{{ trim .Params.image.src "/"}}' />
{{end}}
{{ end }}

{{ define "main" }}
<main>
  <article class="c__post--single">
    <div class="container c__post__title">
      <div class="row">
        <h1 class="col col-12 col-md-10 col-lg-10">{{ .Title }}</h1>
        projekte.single
      </div>
    </div>

    <div class="container">
      <div class="row">
        <aside class="c__post__meta col col-12 col-sm-10 col-md-3 col-lg-2">
          <p>
            {{ with .Params.authors }}
              {{ if eq (len .) 2 }}
                {{ range .}}
                  <strong>{{.}}</strong>
                {{end}}
              {{else}}
                <strong>{{.}}</strong>
              {{ end }}
            {{end}}
          </p>
          <p class="c__post__date"><time datetime="{{.Date}}">{{ .Date.Format "02.01.2006" }}</time></p>
        </aside>
        <div class="c__post__main col col-12 col-sm-10 col-md-8 col-lg-7">{{ .Content }}</div>
      </div>
    </div>
  </article>

</main>
{{ end }}
